<!DOCTYPE html>
<html>
    <head>
        <title>Home - Mikhail's Toy App</title>
    </head>
    <body>
        <header class="jumbotron">
            <div class="container-fluid">
                <h1><mark>Hello!</mark></h1>
                <p class="bg-info">Welcome to Mikhail's IT240-807 ToyApp homepage. In the navigation bar above
                you will find the routes to other apps hosted on this site.</p>
                
            </div>
        </header>
    </body>
</html>
