<!DOCTYPE html>
<html>
    <head>
        <title>Home - Mikhail's Toy App</title>
    </head>
    <body class="container">
        <h1>Hello!</h1>
        <p>Welcome to Mikhail's IT240 Page. Below you will find the routes to other apps hosted on this server.</p>

        <h3>Routes to Other Pages</h3>

        <ul>
            <li><a href="/static_pages/usersrt">Users App Routes</a></li>
            <li><a href="/static_pages/micropostsrt">Microposts App Routes</a></li>
        </ul>
    </body>
</html>
