<!DOCTYPE html>
<html>
    <head>
        <title>Microposts App Routes - Mikhail's Toy App</title>
    </head>
    <body>
        <h1><mark>Hello!</mark></h1>
        <p class="bg-info">Welcome to the Microposts App Routes Page. Below You Will Find the Routes to Other Pages within Microposts App</p>

        <h3>Routes to Microposts App Pages</h3>

        <a href="/microposts" class="btn btn-info" role="button">Microposts App Index</a>
        <a href="/microposts/new" class="btn btn-info" role="button">Create a New Micropost</a>
    </body>
</html>
