<!DOCTYPE html>
<html>
    <head>
        <title>Users App Routes - Mikhail's Toy App</title>
    </head>
    <body>
        <h1>Hello!</h1>
        <p>Welcome to the Users App Routes Page. Below You Will Find the Routes to Other Pages within Users App</p>

        <h3>Routes to Users App Pages</h3>

        <ul>
            <li><a href="/static_pages/home">Site Home</a></li>
            <li><a href="/users">Users App Index</a></li>
            <li><a href="/users/new">Create a New User</li>
        </ul>
    </body>
</html>
