<!DOCTYPE html>
<html>
    <head>
        <title>Users App Routes - Mikhail's Toy App</title>
    </head>
    <body>
        <h1><mark>Hello!</mark></h1>
        <p class="bg-info">Welcome to the Users App Routes Page. Below You Will Find the Routes to Other Pages within Users App</p>

        <h3>Routes to Users App Pages</h3>

        <a href="/users" class="btn btn-info" role="button">Users App Index</a>
        <a href="/users/new" class="btn btn-info" role="button">Create a New User</a>
    </body>
</html>
