<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#">ToyApp</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/static_pages/home">Home</a></li>
                    <li><a href="/static_pages/micropostsrt">Microposts Routes</a></li>
                    <li><a href="/static_pages/usersrt">Users Routes</a></li>
                </ul>
            </div>
        </nav>
    
    <%= yield %>
  </body>
</html>
